<?xml version="1.0" encoding="utf-8"?>
<menus xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <groups>
    <group name="管理首页" url="/manage" icon="fa fa-home" info="欢迎来到技术百科后台管理系统" permission="0">
      <menus />
    </group>
    <group name="百科管理" url="/manage/wikis" icon="fa fa-user" info="技术百科管理" permission="1">
      <menus>
        <menu name="词条分类" url="/manage/groups" info="会员数据信息管理" permission="1" />
        <menu name="百科列表" url="/manage/wikis" info="百科列表维护" permission="1" />
      </menus>
    </group>
  </groups>
</menus>