<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ShoyData" type="Shoy.Data.ConnectionSession,Shoy.Data" />
  </configSections>
  <appSettings>
    <add key="configPath" value="D:\DayEz\config" />
    <add key="LogLevel" value="Debug" />
  </appSettings>
  <ShoyData>
    <DbConnects>
      <add name="mssql" connectString="Data Source=SHOY-PC\EXPRESS;Initial Catalog=TjzxDB; Integrated Security=True; User ID=shoydba;Password=a123456" sqlType="MsSql" default="true" />
      <add name="postgre" connectString="Server=192.168.157.130;Port=5432;Database=ShoyDB;Userid=shoy;Password=123456; Protocol=3;Pooling=true;MinPoolSize=1;MaxPoolSize=50;ConnectionLifeTime=30;" sqlType="Postgre" />
      <!--<add name="sqlite" connectString="Data Source={path}\northwind.db;Pooling=true;FailIfMissing=false;" sqlType="Sqlite" />
      <add name="mysql" connectString="data source=192.168.157.130:5432;initial catalog=ShoyDB;user id=shoy;pwd=123456;" sqlType="MySql" />
      <add name="access" connectString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source={path}\Shoy.mdb" sqlType="Access" />-->
    </DbConnects>
  </ShoyData>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.291.54020" newVersion="3.7.291.54020" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.License" publicKeyToken="b1144360237c8b3f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.5.40" newVersion="1.3.5.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
