<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="fileExts" value=".txt,.config,.js,.css,.cshtml,.html,.htm,.xml" />
    <add key="replaceRules" value="
         (\.pianyike\.net)=>.jianjiaoapp.com
         (poolcache_test)=>poolcache_ready
         " />
    <add key="sourceDirectory" value=""/>
    <add key="baseTargetDirectory" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>