<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.1.0" targetFramework="net451" />
  <package id="Grpc.Core" version="1.0.0" targetFramework="net451" />
  <package id="ServiceStack.Text" version="4.5.4" targetFramework="net451" />
  <package id="System.Interactive.Async" version="3.0.0" targetFramework="net451" />
</packages>