<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="AjaxNamespace" value="Shoy.Demo" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <!--/notify/*,/url.* -->
      <add verb="*" path="/router.*" type="Shoy.AjaxHelper.AjaxHandlerFactory, Shoy.AjaxHelper" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ajaxHelper" verb="*" path="/router.*" type="Shoy.AjaxHelper.AjaxHandlerFactory" />
    </handlers>
  </system.webServer>
</configuration>
