<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="RemotingService">
      <service>
        <wellknown type="RemotingModels.Person,RemotingModels" objectUri="Person"
            mode="Singleton" />
      </service>
      <channels>
        <channel ref="tcp" port="25810"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>