.t-news-list li {
  margin: 0 0 12px 0;
}
h4 {
  line-height: 35px;
}
h4:before {
  content: "·";
  padding: 0 7px;
  color: #666;
}
h4 span {
  margin-left: 32px;
}
.t-content {
  color: #888;
  text-indent: 2em;
  line-height: 28px;
}
/**
* 展示页
*/
.t-news-box {
  padding: 15px 30px;
}
.t-news-box h2 {
  text-align: center;
  margin: 12px 0 15px;
}
.t-news-box h3 {
  font-size: 13px;
  color: #999999;
  border-bottom: 1px solid #cccccc;
  font-weight: normal;
}
.t-news-box h3 span {
  width: 23%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding-left: 1%;
  text-align: center;
}
.t-news-box .t-news-content {
  margin-top: 35px;
  line-height: 32px;
}
