<div class="theme-panel hidden-phone">
    <div class="btn-theme">
        <i class="fa fa-cog"></i>
    </div>
    <div class="theme-mode hide">
        <p>选择主题颜色</p>
        <ul class="inline">
            <li class="theme-white current" title="简约主题" data-style="default"></li>
            <li class="theme-black" title="酷炫主题" data-style="black"></li>
        </ul>
        <div class="theme-fixed">
            <label class="checkbox">
                <input type="checkbox" checked="checked" />
                是否固定顶部页头
            </label>
        </div>
    </div>
</div>