<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="configPath" value="D:\_config"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="502400" />
    <httpHandlers>
      <add path="/image" verb="*" type="Shoy.FileSystem.Handler.ImageHandler"/>
      <add path="/file" verb="*" type="Shoy.FileSystem.Handler.FileHandler"/>
      <add path="/mongo" verb="*" type="Shoy.FileSystem.Handler.GridFsHandler"/>
      <add path="/uploader" verb="*" type="Shoy.FileSystem.Handler.UploadHandler"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="image" verb="*" path="/image" type="Shoy.FileSystem.Handler.ImageHandler"/>
      <add name="file" verb="*" path="/file" type="Shoy.FileSystem.Handler.FileHandler"/>
      <add name="mongo" verb="*" path="/mongo" type="Shoy.FileSystem.Handler.GridFsHandler"/>
      <add name="uploader" verb="*" path="/uploader" type="Shoy.FileSystem.Handler.UploadHandler"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="POST"/>
        <add name="Access-Control-Allow-Headers" value="content-type"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".eot"/>
      <remove fileExtension=".otf"/>
      <remove fileExtension=".apk"/>
      <remove fileExtension=".flv"/>
      <remove fileExtension=".f4v"/>
      <remove fileExtension=".ogv"/>
      <remove fileExtension=".webm"/>
      <remove fileExtension=".mp4"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-woff"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype"/>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android"/>
      <mimeMap fileExtension=".flv" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".f4v" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
      <mimeMap fileExtension=".webm" mimeType="video/webm"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <clientCache cacheControlCustom="Cache-Control: public" cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>