.navbar-fixed-top {
  z-index: 500;
}
.panel {
  position: relative;
}
.panel-action {
  position: absolute;
  right: 11px;
  top: 4px;
}
.pointer {
  cursor: pointer;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.fs24 {
  font-size: 24px;
}
.fs30 {
  font-size: 30px;
}
.noBold {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.pl0 {
  padding-left: 0;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl20 {
  padding-left: 20px;
}
.pl30 {
  padding-left: 30px;
}
.pt0 {
  padding-top: 0px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pb0 {
  padding-bottom: 0px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pr0 {
  padding-right: 0px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 30px;
}
.ml0 {
  margin-left: 0;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.mr0 {
  margin-right: 0px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mt0 {
  margin: 0;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb0 {
  margin-bottom: 0px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.btn {
  -ms-border-radius: 0;
  border-radius: 0;
}
.btn-blue {
  background-color: #4d90fe;
  color: white;
  -ms-text-shadow: none;
  text-shadow: none;
}
.btn-blue:hover {
  background-color: #0362df;
  color: white;
}
.btn-red {
  background-color: #d84a38;
  color: white;
  -ms-text-shadow: none;
  text-shadow: none;
}
.btn-red:hover {
  background-color: #bb2413;
  color: white;
}
.d-total {
  padding: 0;
  font-size: 12px;
  color: #a2a2a2;
  line-height: 34px;
}
.d-total em {
  font-family: Constantia, Georgia;
  font-size: 16px;
  color: #d9534f;
  padding: 0 2px;
  font-weight: 700;
  font-style: italic;
}
.d-selects .form-control {
  width: auto;
  display: inline-block;
}
.text-gray {
  color: #bbb;
}
.d-text-avatar {
  background-color: #e7e7df;
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: #d84c31;
  font-size: 28px;
  height: 100px;
  width: 100px;
  line-height: 100px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  padding: 0 15px;
}
.d-text-avatar-small {
  -moz-border-radius: 2.4px;
  -webkit-border-radius: 2.4px;
  -o-border-radius: 2.4px;
  -ms-border-radius: 2.4px;
  border-radius: 2.4px;
  font-size: 22px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  padding: 0 5px;
}
.d-text-avatar-large {
  -moz-border-radius: 3.6px;
  -webkit-border-radius: 3.6px;
  -o-border-radius: 3.6px;
  -ms-border-radius: 3.6px;
  border-radius: 3.6px;
  font-size: 36px;
  height: 150px;
  width: 150px;
  line-height: 150px;
  padding: 0 25px;
}
.d-text-avatar-round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.dy-user-wrap {
  overflow: hidden;
  padding: 5px 0 0;
  position: relative;
}
.dy-user-wrap > a > img,
.dy-user-wrap > a > .d-text-avatar {
  border-radius: 50%;
  float: left;
  width: 35px;
  height: 35px;
  line-height: 30px;
}
.dy-user-info {
  color: #888;
  float: left;
  line-height: 20px;
  margin-left: 10px;
  font-size: 12px;
}
.dy-user-info > p {
  margin: 0;
}
.dy-user-name {
  color: #666;
  font-size: 13px;
  font-weight: 600;
  max-width: 192px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*active*/
.dy-user-active {
  width: 830px;
}
.dy-active-user > img,
.dy-active-user > .d-text-avatar {
  margin-bottom: 5px;
}
.dy-active-user p span {
  color: #888;
}
.color-gray {
  color: gray;
}
.color-danger {
  color: #c7254e;
}
hr {
  margin: 10px 0;
}
/* group item */
.group-item {
  color: #888888;
  float: left;
  line-height: 28px;
  font-size: 13px;
  overflow: hidden;
  padding: 4px 12px;
  margin: 4px 6px;
  width: 265px;
  cursor: pointer;
  border: solid 1px #eeeeee;
  background-color: #f9f9f9;
}
.group-item:hover {
  border-color: #46b8da;
  background-color: #eee;
}
.group-item .group-name span {
  color: #666;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  vertical-align: middle;
  width: 190px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.group-item .group-name small {
  display: inline-block;
  font-size: 12px;
  margin-left: 6px;
}
.group-item .group-agency {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.group-item .group-info strong {
  margin-right: 10px;
  font-weight: 500;
  max-width: 8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.group-item .group-info span {
  font-family: georgia, serif;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.group-item .group-info span i {
  vertical-align: middle;
}
.group-item .group-info i {
  color: #a9a9a9;
  margin-right: 4px;
}
.group-item .group-type {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  padding: 2px 3px;
  vertical-align: middle;
}
.group-item .group-class {
  background-color: #cccccc;
}
.group-item .group-colleague {
  background-color: #5bc0de;
}
.group-item .group-share {
  background-color: #d9534f;
}
.user-list {
  max-width: 820px;
  max-height: 370px;
  overflow-y: auto;
}
.user-list .user-item {
  border: 1px solid #eeeeee;
  background-color: #f9f9f9;
  box-sizing: border-box;
  float: left;
  margin: 5px 10px;
  padding: 6px 8px;
  width: 180px;
  cursor: default;
  position: relative;
}
.user-list .user-item .user-avatar {
  float: left;
  height: 50px;
  width: 50px;
}
.user-list .user-item .user-avatar img {
  width: 50px;
  height: 50px;
}
.user-list .user-item .user-name {
  font-size: 14px;
}
.user-list .user-item .user-name span {
  font-weight: 600;
  color: #333;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  max-width: 5em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.user-list .user-item .user-name small {
  color: #999;
  margin-left: 8px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.user-list .user-item .user-code {
  margin-top: 6px;
}
.user-list .user-item > i {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  color: #d9534f;
  cursor: pointer;
  font-size: 18px;
}
.user-list .user-item:hover,
.user-list .user-item.hover {
  border-color: #46b8da;
  background-color: #5bc0de;
}
.user-list .user-item:hover .user-code,
.user-list .user-item.hover .user-code {
  color: #666;
}
.user-list .user-item:hover > i,
.user-list .user-item.hover > i {
  display: block;
}
.dy-nothing {
  background: #fafbfc repeat scroll 0 0;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  color: #bbb;
  width: 100%;
  min-height: 100px;
  line-height: 100px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
  text-rendering: optimizelegibility;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
}
.dy-nothing .iconfont {
  font-size: 40px;
  margin-right: 20px;
  position: relative;
  top: 10px;
  left: 0;
}
