@model Shoy.Wiki.Models.WikiGroup
<!DOCTYPE html>

<html>
<head>
    <title>@Model.Group</title>
</head>
<body>
    <div>
        <h1>@Model.Group<small>[@Model.Code]</small></h1>
    </div>
</body>
</html>