<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    @RenderSection("Header",false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Footer",false)
</body>
</html>
