<?xml version="1.0" encoding="utf-8"?>
<root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <platforms>
    <!--腾讯QQ-->
    <item type="0" partner="100424173" key="748949c8011446f2c4afb37109b72dd8" charset="utf-8" sign-type="MD5">
      <tokenUrl><![CDATA[https://graph.qq.com/oauth2.0/token?grant_type=authorization_code&client_id={0}&client_secret={1}&code={2}&state=libo&redirect_uri={3}]]></tokenUrl>
      <authorizeUrl><![CDATA[https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id={0}&redirect_uri={1}&scope=get_user_info]]></authorizeUrl>
      <userUrl><![CDATA[https://graph.qq.com/user/get_user_info?access_token={0}&oauth_consumer_key={1}&openid={2}]]></userUrl>
      <openIdUrl>https://graph.qq.com/oauth2.0/me?access_token={0}</openIdUrl>
    </item>
    <!--微博-->
    <item type="1" partner="1169924764" key="af35f413221b8cf9fadd993917c5a75d" charset="utf-8" sign-type="MD5">
      <tokenUrl><![CDATA[https://api.weibo.com/oauth2/access_token?client_id={0}&client_secret={1}&grant_type=authorization_code&redirect_uri={2}&code={3}]]></tokenUrl>
      <authorizeUrl><![CDATA[https://api.weibo.com/oauth2/authorize?client_id={0}&response_type=code&redirect_uri={1}]]></authorizeUrl>
      <userUrl><![CDATA[https://api.weibo.com/2/users/show.json?uid={0}&access_token={1}]]></userUrl>
      <openIdUrl />
    </item>
    <!--腾讯微博-->
    <item type="2" partner="801345366" key="8213086f3e639845b857526196d8289f" charset="utf-8" sign-type="MD5">
      <tokenUrl><![CDATA[https://open.t.qq.com/cgi-bin/oauth2/access_token?client_id={0}&client_secret={1}&redirect_uri={2}&grant_type=authorization_code&code={3}]]></tokenUrl>
      <authorizeUrl><![CDATA[https://open.t.qq.com/cgi-bin/oauth2/authorize?client_id={0}&response_type=code&redirect_uri={1}]]></authorizeUrl>
      <userUrl />
      <openIdUrl />
    </item>
    <!--微信-->
    <item type="3" partner="" key="" charset="utf-8" sign-type="MD5">
      <tokenUrl>https://mapi.alipay.com/gateway.do?</tokenUrl>
      <authorizeUrl />
      <userUrl />
      <openIdUrl />
    </item>
    <!--支付宝-->
    <item type="4" partner="2088102957310471" key="37wuz4e2jv7ic7x8ytm8pej7ilyb96k0" charset="utf-8" sign-type="MD5">
      <tokenUrl>https://mapi.alipay.com/gateway.do?</tokenUrl>
      <authorizeUrl />
      <userUrl />
      <openIdUrl />
    </item>
  </platforms>
</root>